.posts-container {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  flex-direction: column;
  color: var(--main-text-color);
  max-width: 1000px;
  font-family: "Arimo";
  text-align: left;
  border-top: 1px solid var(--border-color);
  margin-top: 2.5rem;
}

.month {
  margin-top: 20px;
    font-family: 'Roboto Mono', monospace;
  &_heading {
    font-size: 2rem;
    font-weight: 800;
  }

  &_posts {
    margin-top: 15px;
  }

  &_posts li {
    list-style: none;
    line-height: 2rem;
    font-weight: 500;
    font-size: 0.9rem;
    padding-left: 30px;
    padding-right: 50px;
    border-radius: 5px;
    transition: padding-left 50ms ease-in-out;
    margin-top: 10px;

    &:hover {
      cursor: pointer;
      background-color: var(--post-hover-color);
      padding-left: 25px;
    }
  }
}

@media only screen and (max-width: 800px) {
  .month {
    margin-top: 45px;
    &_posts {
      li {
        padding-left: 5px;
        padding-right: 5px;

        &:hover {
          padding-left: 15px;
        }
      }
    }
  }

  .posts-container {
    width: 100%;
    padding: 1rem;
    padding-left: 15px;
    padding-right: 0px;
    .month {
      &_posts {
        padding-left: 0px;
        padding-right: 0px;
      }
    }
  }
}
