.footer {
  display: flex;
  font-family: "Roboto Mono", monospace;
  text-align: center;
  color: var(--main-text-color);
  font-size: 0.8rem;
  flex-direction: column;
  align-items: center;
  margin-top: 100px;
  padding: 2rem;
}

.copyleft:before {
  content: "©";
}

.copyleft {
  font-size: 1.2rem;
  vertical-align: middle;
  opacity: .8;
  display: inline-block;
  transform: rotate(180deg);
}
