.header__container {
  padding-left: 20px;
  word-wrap: normal;
  max-width: 200px;
  text-align: right;
  color: $main-link-orange;
}

.image-container {
  position: relative;
  height: 400px;
  transition: opacity 150ms ease-in-out;

  &:hover {
    cursor: pointer;
    opacity: .6;
  }
}

.custom__code {
  position: relative;
  // display: flex;
  width: 100%;
}

@media only screen and (max-width: 1300px) {
  .header__container {
    margin-top: 20px;
    width: 100%;
    max-width: 100%;
    text-align: left;
  }
}

@media only screen and (max-width: 550px) {
  .header__container {
    margin-top: 20px;
    width: 100%;
    max-width: 100%;
    text-align: left;
  }

  .image-container {
    height: 200px;
  }
}