.fa {
  padding-right: .5rem;
}

.social__container {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.social__btn {
  text-align: center;
  color: var(--main-text-color);
  border: 3px solid var(--border-color);
  border-radius: 5px;
  padding: 5px;
  margin: 5px;
  min-width: 14rem;
  transition: border 100ms ease-in;

  &:hover {
    cursor: pointer;
    filter: brightness(.80);
    background-color: var(--background-color);
    border: 3px solid var(--main-text-color);
  }
}

.mini_nav {
  width: 100%;
  color: var(--main-text-color);
  max-width: 1000px;
  position: relative;
  min-height: 100px;
  display: flex;
}

.toggle_theme {
  width: 25px;
  height: 25px;
  opacity: 0.8;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
  border-radius: 5px;
  transition: border 300ms ease-in-out;
  position: absolute;
  top: 33px;
  right: 0;
  float: right;
  border: 2px solid transparent;
  background-color: var(--main-text-color);
  right: 1rem;

  &:hover {
    cursor: pointer;
    opacity: 0.5;
  }

  &__moon {
    background-color: var(--main-text-color);
  }
}

.nav {
  width: 100%;
  font-family: "Arimo", sans-serif;
  display: flex;
  justify-content: center;
  // position: sticky;
  position: relative;
  background-color: var(--background-color);
  top: 0;
  z-index: 10;
  align-items: center;
  border-bottom: 2px solid var(--border-color);
  // box-shadow: 0px 0px 60px var(--box-shadow);

  &__list {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 1rem;
    position: relative;
    width: 100%;

    &logo {
      list-style: none;
      margin-right: auto;
      cursor: pointer;
      display: flex;
      align-items: center;
      font-family: 'Roboto Mono', monospace;

      &_img {
        max-width: 100px;
        background-color: transparent;
        padding: 1rem;
        position: absolute;
        transform: rotate(-15deg);
        transition: opacity 200ms ease-in-out;
        transition: transform 200ms ease-in-out;

        &:hover {
          opacity: 0.2;
          transform: rotate(25deg);
        }
      }

      &_txt {
        font-size: 2rem;
        position: absolute;
        left: 7rem;

        &::after {
          content: "";
          width: 5px;
          height: 2rem;
          margin-left: 5px;
          background: var(--border-color);
          display:inline-flex;
          animation: cursor-blink 1.0s steps(2) infinite;
        }

        @keyframes cursor-blink {
          0% {
            opacity: 0;
          }
        }

        &:hover {
          opacity: 0.8;
        }
      }
    }

    &item:last-child {
      margin-right: 5rem;
    }

    &item > a {
      all: unset;
    }

    &item {
      font-size: 13px;
      list-style: none;
      font-weight: bold;
      position: relative;
      padding: 1.5rem .4rem;
      cursor: pointer;
      align-items: flex-end;
      background-color: transparent;

      &::after {
        content: "";
        width: 0;
        height: 0.3rem;
        border-radius: $radius;
        position: absolute;
        left: .5rem;
        bottom: 0.8rem;
        background-color: $main-link-orange;
        transition: width 100ms ease-in-out;
      }

      &:hover::after,
      &:focus::after {
        width: 80%;
      }

      &:hover &drop,
      &:focus &drop {
        opacity: 1;
        visibility: visible;
      }

      &drop {
        position: absolute;
        top: 4rem;
        left: -1rem;
        background-color: var(--background-color);
        border-radius: 0px;
        width: 12rem;
        padding: 1rem;
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        opacity: 0;
        visibility: hidden;
        transition: opacity 200ms ease-in-out;
        border: 1px solid var(--border-color);

        li {
          width: 100%;
          list-style: none;
          padding: 0.5rem .5rem;
          border-radius: $radius;
          transition: background-color 200ms ease-in-out;
          display: flex;

          &:hover,
          &:focus {
            background-color: var(--link-highlight-color);
          }
        }

        li > a {
          all: unset;
        }
      }
    }
  }
}

@media only screen and (max-width: 700px) {
  .nav {
    width: 100%;
    margin: 0 auto;
    opacity: 1;

    &__list {
      &item:last-child {
        margin-right: 1.5rem;
      }
    }
  }
}

@media only screen and (max-width: 700px) {
  .mini_nav {
    text-align: center;
    display: flex;
    justify-content: center;
  }
}

@media only screen and (max-width: 850px) {
  .nav {
    &__list {
      &logo {
        margin-left: 0rem;

        &_img {
          margin-left: 0px;
          top: -1.5rem;
        }

        &_txt {
          visibility: hidden;
          position: absolute;
        }
      }
    }
  }
}

@media only screen and (max-width: 850px) {
  .fa {
    padding-right: 1rem;
  }
  .toggle_theme {
    right: 0;
    top: 0;
    width: 100%;
    border-radius: 0;
    opacity: 1;
  }

  .nav {
    &__list {
      margin-top: 60px;
      justify-content: center;
      align-items: center;
    }
  }
}

@media only screen and (max-width: 450px) {
  .fa {
    padding-right: 1rem;
  }
  .nav {
    &__list {

      &logo {
        &_img {
          position: absolute;
          opacity: .3;
        }
      }
    }
  }
}
